@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Texte */
    --foreground: 0 0% 9%; /* Noir */

    /* Couleur de marque */
    --primary: 156 54% 53%; /* #40D190 */
    --primary-hover: 156 54% 43%;

    /* Primary background */
    --primary-bg: 0 0% 100%; /* Blanc */
  }

  .dark {
    /* Texte */
    --foreground: 0 0% 100%; /* Blanc */

    /* Couleur de marque (même) */
    --primary: 156 54% 53%;
    --primary-hover: 156 54% 43%;

    /* Primary background */
    --primary-bg: 222 47% 11%; /* Bleu foncé #0F172B */
  }
}
